<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rockstar Suggestions</title>
</head>
<body>
    <div id="app">
        <label>Characters:</label>
        <input type="radio" name="wordLength" v-model="wordLength" value="4"> 4
        <input type="radio" name="wordLength" v-model="wordLength" value="5"> 5
        <input type="radio" name="wordLength" v-model="wordLength" value="6"> 6
        <input type="radio" name="wordLength" v-model="wordLength" value="7"> 7
        <input type="radio" name="wordLength" v-model="wordLength" value="8"> 8
        <input type="radio" name="wordLength" v-model="wordLength" value="9"> 9
        <input type="radio" name="wordLength" v-model="wordLength" value="10"> 10
        <input type="radio" name="wordLength" v-model="wordLength" value="11"> 11
        <input type="radio" name="wordLength" v-model="wordLength" value="12"> 12
        <input type="radio" name="wordLength" v-model="wordLength" value="13"> 13
        <input type="radio" name="wordLength" v-model="wordLength" value="14"> 14
        <input type="radio" name="wordLength" v-model="wordLength" value="15"> 15
        <button @click="refresh()">More!</button>
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>var vm = new Vue({
  el: '#app',
  data: {
    wordLength: 4,
    items: [],
    all: {}
  },
  methods: {
    refresh: function refresh() {
      if (this.all && this.all[this.wordLength]) {
        var randomized = this.all[this.wordLength].sort(function (a, b) {
          return Math.random() * 2 - 1;
        }).slice(0, 20);
        this.items = randomized;
      }
    }
  },
  watch: {
    wordLength: function wordLength() {
      this.refresh();
    }
  },
  created: function created() {
    var _this = this;

    fetch("words-by-length.json").then(function (response) {
      console.log(response);
      response.json().then(function (data) {
        data.forEach(function (x) {
          _this.all[x.Length] = x.Words;
        });

        _this.refresh();
      });
    });
  }
});</script>
</body>
</html>